@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300&display=swap');

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}



/* Layout */
body {font-family:'Nanum Gothic', sans-serif;}
.wrap {width: 100%; overflow: hidden;}

header {width: 100%; height: 110px;}
.innerheader {width: 100%;}
.innerheader .top {background: #4B4B4B; width: 100%;}
.innerheader .top ul {width: 100%; display: flex; margin-left: 78%; padding: 4px; font-size: 14px;}
.innerheader .top ul li {margin-right: 30px; color: white;}
.innerheader .top ul li span {color: #AAFCFF;}
.innerheader h1.logo {width: 13%;display:block; float: left; margin-top: 25px; padding-left: 130px;}
.innerheader h1.logo img {width: 100%;}
.innerheader ul.left {width: 40%; overflow: hidden; margin-top: 32px; display: inline-block; padding-left: 300px; }
.innerheader ul.left li {width: 25%; float: left; text-align: center;}
.innerheader ul.right {width: 15%;text-align: center; float: right; margin-top: 25px; padding-right: 100px;}
.innerheader ul.right li {width: 30%; border: 2px solid red; margin-right: 5px; float: left; padding: 5px 3px; border-radius: 50px; box-sizing: border-box; color: white; background: red; font-weight: bold;}
.innerheader ul.right li:nth-child(1) {width: 50%; background: white; color: red;}
.innerheader .tapMenu {width: 100%;}
.innerheader .tapMenu ul {width: 100%; padding: 0px; margin-top: 25px; border: 1px solid #CCCCCC; box-sizing: border-box; overflow: hidden;}
.innerheader .tapMenu ul li {width: 10%; height: 35px ; border-right: 1px solid #CCCCCC; float: left; box-sizing: border-box; padding: 10px; font-size: 14px; color: #707070;}
.innerheader .tapMenu ul li:nth-child(1) {width: 2.5%;}
.innerheader .tapMenu ul i.fa-home {width: 100%; color: #CCCCCC; font-size: 25px; transform: translate(0%,-20%);}
.innerheader .tapMenu ul i.fa-chevron-down {color: #CCCCCC; margin-left: 30px;}

/* hover */
.innerheader ul.left li:hover {color: red; font-weight: bold; transition: all 0.3s;}

/* visual */
.visual {width: 100%;}
.visual .inner {width: 1500px; height: 800px;margin: 80px auto; display: flex;justify-content: space-between;}
.visual .inner .leftBox {width: 36%; margin-top: 200px; z-index: 1;} 
.visual .inner .leftBox p.txt {font-size: 28px; margin-bottom: 20px;}
.visual .inner .leftBox h3 {font-size: 70px; margin-bottom: 40px;}
.visual .inner .leftBox ul {width: 100%; text-align: center;}
.visual .inner .leftBox ul li {width: 33%; border: 2px solid red; border-radius: 50px; float: left; padding: 5px; display: inline-block; margin-right: 10px; color: red; font-weight: bold;}
.visual .inner .leftBox ul li:nth-child(2) {background: red; color: white; width: 23%;}
.visual .inner .rightBox {width: 64%; z-index: -10;}
.visual .inner .rightBox img {width: 100%;}

/* book */
.book {width: 1920px; height: 800px;  background: #F22447; margin-top: 200px; }
.book .innerL {width: 27%; height: 800px;color: white; float: left; padding-left: 18%; margin-top: 70px;}
.book .innerL h3 {font-size: 40px; font-family: 'Noto Sans KR', sans-serif; font-weight: 100; margin-bottom: 20px; line-height: 1.2;}
.book .innerL h3 span {font-family: 'Noto Sans KR', sans-serif; font-weight: bold;}
.book .innerL p.txt {font-size: 14px; line-height: 1.6; margin-bottom: 50px;}
.book .innerL ul {width: 100%; text-align: center;}
.book .innerL ul li {width: 20%; border: 1px solid white; border-radius: 50px; padding: 15px 5px; float: left; margin-right: 20px; margin-bottom: 15px; transition: all 0.3s;}
.book .innerL ul li:hover {background: #fff; color: red; font-weight: bold;transition: all 0.3s;}

.book .innerR {width: 55%; height: 800px; background: #F5F5F5; float: right;}
.book .innerR ul {width: 60%; text-align: center; margin-top: 80px; overflow: hidden; margin-left: 70px;}
.book .innerR ul li {width: 30%; float: left; margin-right:5px; margin-top: 5px;}
.book .innerR ul li::before {content: 'BEST'; color: white; margin-right: 80px; background: #19CBA3; padding: 5px 10px; font-size: 12px; border-radius: 50px;}
.book .innerR ul li p.img img {border-radius: 8px; margin-bottom: 20px; margin-top: 10px;}
.book .innerR ul li::before {content: 'BEST'; color: white; margin-right: 80px; background: #19CBA3; padding: 5px 10px; font-size: 12px; border-radius: 50px; font-weight: bold;}
.book .innerR ul li .btn {margin-bottom: 10px; font-weight: bold;}
.book .innerR ul li .txtBox {color: #19CBA3; font-weight: bold; font-size: 14px; border: 2px solid#19CBA3; display: inline-block; padding: 1px 5px; border-radius: 50px; } 

.book .innerR ul li:hover {border: 1px solid red; padding: 10px 0; box-sizing: border-box; border-radius: 10px;}


/* story */
.story {clear: both;}
.story .inner {width: 80%; margin: 0 auto;}
.story .inner h3 {font-size: 60px; text-align: center; margin-bottom: 100px; margin-top: 300px;}
.story .inner h3 span {font-weight: 400;}
.story .inner ul {width: 100%; overflow: hidden;}
.story .inner ul li {width: 48%; margin-bottom: 50px; border: 2px solid #C8C8C8; border-radius: 30px; box-sizing: border-box; padding: 30px 70px; float: left; margin-right: 4%; text-align: justify;}
.story .inner ul li:nth-child(2),.story .inner ul li:nth-child(4) {margin-right: 0;}
.story .inner ul li img {border-radius: 10px; float: left; margin-right: 20px;}
.story .inner ul li p.txt {line-height: 1.6; font-size: 14px;}
.story .inner ul li .botTxt { font-size: 14px; font-weight: bold;}
.story .inner ul li .botTxt::after {content: ''; border: 2px solid #C8C8C8; border-radius: 50%; width: 25px; height: 25px; display: block; margin-left: 590px;}
.story .inner ul li:nth-child(1) .botTxt {margin-top: 90px;}
.story .inner ul li:nth-child(2) .botTxt {margin-top: 70px;}
.story .inner ul li:nth-child(3) .botTxt {margin-top: 50px;}
.story .inner ul li:nth-child(4) .botTxt {margin-top: 90px;}


.wrap .topButton {background: red; display: block; width: 60px; height: 60px; font-size: 14px; border-radius: 50%; text-align: center; line-height: 60px; color: white; position: absolute; right: 3%; bottom: 10%; position: fixed;}

/* footer */
footer {width: 100%; height: 240px; background: url(../img/back.png) no-repeat; margin-top: 100px; clear: both;}
.contents {width: 80%; margin: 0 auto; overflow: hidden; padding-top: 120px;}
.contents h1 {width: 30%; float: left;}
.contents h1 img {width: 35%; padding-left: 150px; padding-top: 30px;}
.contents p {width: 55%;float: left; line-height: 2;}
.contents ul {width: 11%; float: left;}
.contents ul li {width: 30%; height: 30%; border: 1px solid white; float: left; margin-right: 8px; box-sizing: border-box;}
.contents ul li img {width: 100%;}
.contents ul li:nth-child(4) {margin-right: 0;}
.contents ul li:nth-child(1) {width: 100%; margin-bottom: 10px; border: 0;}









